@font-face {
    font-family: SF Pro Display;
    src: url('../font/SF-Pro-Display-Regular.ttf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('../font/GothamLight.ttf');
}

@font-face {
    font-family: Gotham-Medium;
    src: url('../font/GothamMedium.ttf');
}

@font-face {
    font-family: Gotham-Bold;
    src: url('../font/GothamBold.ttf');
}

@font-face {
    font-family: Red Hat Display;
    src: url('../font/RedHatDisplay-Bold.ttf');
}

body, *{
    color: var(--primary-dark-gray);
}

body.white-body{
    background: var(--neutral-white-100, #F7F7F8);
    position: relative;
    z-index: 2;
    overflow-x: hidden;
}

body div.container,
body nav.container{
    max-width: 1224px !important;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a, a.active{
    text-decoration: none !important;
    color: var(--neutral-black-700, #3C475C);
}

button{
    border: none;
    background: inherit;
}

.nav-container{
    display: flex;
    max-width: 1224px;
    padding: 30px 40px !important;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--neutral-white, #FFF);
}

.nav-container h1{
    color: var(--primary-dark-gray, #1B2D4F) !important;
    font-family: Red Hat Display !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 30px !important; /* 100% */
    letter-spacing: -0.9px !important;
}

.nav-container .nav-options{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-container .nav-list{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.8s ease;
    right: 0%;
    position: relative;
}

.nav-container .nav-list.collapsed{
    right: -100%;
    opacity: 0;
}

.nav-container .nav-list .nav-item a{
    color: var(--neutral-black-700, #3C475C);
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--neutral-white-100, #F7F7F8);
    cursor: pointer;
}
.nav-container .nav-list .nav-item a.active{
    background: var(--neutral-white-300, #E4E6E9);
}

.nav-toggeler{
    display: inline-flex;
    align-items: center;
}

.nav-toggeler img{
    max-height: 15px;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6, p{
    margin-bottom: 0px !important;
}
h2{
    font-family: Gotham-Bold;
    font-size: 64px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 72px !important; /* 112.5% */
    letter-spacing: -3.2px !important;
}

h1{
    font-family: Gotham-Bold;
    font-size: 80px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 88px !important; /* 110% */
    letter-spacing: -2.4px !important;
}

h4{
    font-family: Gotham-Medium;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 40px !important; /* 125% */
    letter-spacing: -1.6px;
}

h6{
    font-family: Gotham-Medium;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 28px !important; /* 140% */
    letter-spacing: -1px;
}

h5{
    font-family: Gotham-Medium;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -1.2px;
}

button.rg,
a.rg{
    font-family: SF Pro Display;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 16px !important; /* 100% */
    text-transform: uppercase;
}
.footer{
    padding: 40px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--neutral-white, #FFF);
    margin-bottom: 30px;
}
.footer .left .logog{
    color: var(--primary-dark-gray, #1B2D4F);
    font-family: Red Hat Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 100% */
    letter-spacing: -0.9px;
    margin-bottom: 12px;
}
.footer .left .copyright{
    color: var(--neutral-black-700, #3C475C);

/* Paragraph/RG */
font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
} 
.footer .right .quick-link-label{
    color: var(--primary-dark-gray, #1B2D4F);

    /* Paragraph/MD */
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-bottom: 12px;
}
.footer .right .quick-link-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer .right .quick-link-list a{
    text-decoration: underline !important;
    color: var(--neutral-black-700, #3C475C);
font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-decoration-line: underline;
}