@font-face {
    font-family: SF Pro Display;
    src: url('../font/SF-Pro-Display-Regular.ttf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('../font/GothamLight.ttf');
}

@font-face {
    font-family: Gotham-Medium;
    src: url('../font/GothamMedium.ttf');
}

@font-face {
    font-family: Gotham-Bold;
    src: url('../font/GothamBold.ttf');
}

@font-face {
    font-family: Red Hat Display;
    src: url('../font/RedHatDisplay-Bold.ttf');
}

body, *{
    color: var(--primary-dark-gray);
}

body.white-body{
    background: var(--neutral-white-100, #F7F7F8);
    position: relative;
    z-index: 2;
    overflow-x: hidden;
}

body div.container,
body nav.container{
    max-width: 1224px !important;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a, a.active{
    text-decoration: none !important;
    color: var(--neutral-black-700, #3C475C);
}

button{
    border: none;
    background: inherit;
}

.nav-container{
    display: flex;
    max-width: 1224px;
    padding: 30px 40px !important;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--neutral-white, #FFF);
}

.nav-container h1{
    color: var(--primary-dark-gray, #1B2D4F) !important;
    font-family: Red Hat Display !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 30px !important; /* 100% */
    letter-spacing: -0.9px !important;
}

.nav-container .nav-options{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-container .nav-list{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.8s ease;
    right: 0%;
    position: relative;
}

.nav-container .nav-list.collapsed{
    right: -100%;
    opacity: 0;
}

.nav-container .nav-list .nav-item a{
    color: var(--neutral-black-700, #3C475C);
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--neutral-white-100, #F7F7F8);
    cursor: pointer;
}
.nav-container .nav-list .nav-item a.active{
    background: var(--neutral-white-300, #E4E6E9);
}

.nav-toggeler{
    display: inline-flex;
    align-items: center;
    flex-basis: 15px;
    flex-shrink: 0;
}

.nav-toggeler button{
    padding: 0px;
}
.nav-toggeler img{
    max-height: 15px;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6, p{
    margin-bottom: 0px !important;
}
h2{
    font-family: Gotham-Bold;
    font-size: 64px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 72px !important; /* 112.5% */
    letter-spacing: -3.2px !important;
}

h1{
    font-family: Gotham-Bold;
    font-size: 80px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 88px !important; /* 110% */
    letter-spacing: -2.4px !important;
}

h3{
    font-family: Gotham-Bold;
    font-size: 48px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 56px !important; /* 116.667% */
    letter-spacing: -2.4px !important;
}

h4{
    font-family: Gotham-Medium;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 40px !important; /* 125% */
    letter-spacing: -1.6px;
}

h6{
    font-family: Gotham-Medium;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 28px !important; /* 140% */
    letter-spacing: -1px;
}

h5{
    font-family: Gotham-Medium;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -1.2px;
}

button.rg,
a.rg{
    font-family: SF Pro Display;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 16px !important; /* 100% */
    text-transform: uppercase;
}
p.rg, span.rg, div.rg, label.rg{
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
p.md, label.md, ul.md{
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.footer{
    padding: 40px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--neutral-white, #FFF);
    margin-bottom: 30px;
}
.footer .left .logog{
    color: var(--primary-dark-gray, #1B2D4F);
    font-family: Red Hat Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 100% */
    letter-spacing: -0.9px;
    margin-bottom: 12px;
}
.footer .left .copyright{
    color: var(--neutral-black-700, #3C475C);

/* Paragraph/RG */
font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
} 
.footer .right .quick-link-label{
    color: var(--primary-dark-gray, #1B2D4F);

    /* Paragraph/MD */
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-bottom: 12px;
}
.footer .right .quick-link-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer .right .quick-link-list a{
    text-decoration: underline !important;
    color: var(--neutral-black-700, #3C475C);
font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-decoration-line: underline;
}

.mobile-tablet-nav-option{
    display: none;
}

span.vertical-arrow,
a.vertical-arrow{
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    z-index: 3;
    border-radius: 50%;
}


span.vertical-arrow i,
a.vertical-arrow i{
    transform: rotate(50deg);
    transition: all 0.5s ease;
}


span.vertical-arrow:hover i,
a.vertical-arrow:hover i{
    transform: rotate(90deg);
}

.update-from-deputy{
    margin-bottom: 69px;
}
.update-from-deputy .container{
    border-radius: 20px;
    background: var(--primary-dark-gray, #1B2D4F);
    padding: 60px 80px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 132px;
}
.update-from-deputy .container h2{
    margin-bottom: 24px !important;
    color: var(--neutral-white);
}
.update-from-deputy .container p{
    color: var(--neutral-gray-500, #9DA7B9);
    text-align: center;
    /* Subtitle/RG */
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    margin-bottom: 40px;
    max-width: 771px;
    margin-left: auto;
    margin-right: auto;
}
.update-from-deputy .container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
.update-from-deputy .container form{
    display: flex;
    align-content: center;
    gap: 16px;
    max-width: 907px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.update-from-deputy .container form input{
    padding: 14px 20px;border-radius: 10px;
    border: 1px solid #516FAA;
    background: #324D80;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 52px;
    line-height: 24px; /* 150% */
    outline: none !important;
}
.update-from-deputy .container form input:first-child{
    flex-basis: 300px;
}
.update-from-deputy .container form input.zip-code{
    flex-basis: 150px;
    max-width: 150px;
}
.update-from-deputy .container form button{
    padding: 18px 50px;
    border-radius: 10px;
    background: var(--secondary-red, #AE0F0A);
    color: #FFF !important;
    flex-basis: 159px;
    white-space: nowrap;
}


@media screen and (max-width: 1224px){
    body.white-body{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 870px){
    body.white-body{
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-container .nav-options{
        display: none;
    }

    .mobile-tablet-nav-option{
        display: block;
    }

    h3{
        font-size: 28px !important;
        line-height: 36px !important; /* 116.667% */
        letter-spacing: -1.4px !important;
    }

    .mobile-tablet-nav-option .dropdown-menu{
        border-radius: 16px;
        margin-top: 27px !important;
        padding: 12px 16px !important;
        background: var(--neutral-white, #FFF);
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
        min-width: 200px;
    }

    h1{
        font-size: 46px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 48px !important; /* 104.348% */
        letter-spacing: -1.38px !important;
    }

    .nav-container h1 {
        font-size: 20px !important;
        line-height: 20px !important;
        letter-spacing: -0.6px !important;
    }

    .menu-tggler-btn{
        padding: 0px;
    }

    .menu-tggler-btn img{
        max-width: 22px;
    }

    .mobile-tablet-nav-option .dropdown-menu .dropdown-item {
        padding: 12px 1rem !important;
        color: var(--primary-dark-gray, #1B2D4F);
        font-family: SF Pro Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 100% */
        text-transform: uppercase;
    }

    .nav-container{
        padding: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h6{
        font-size: 16px !important;
        line-height: 24px !important;
        letter-spacing: -0.8px !important;
    }

    h5{
        font-size: 24px !important;
        line-height: 32px !important;
        letter-spacing: -1.2px !important;
    }

    h4{
        font-size: 24px !important;
        line-height: 32px !important;
        letter-spacing: -1.2px !important;
    }

    h2{
        font-size: 32px !important;
        line-height: 40px !important;
        letter-spacing: -1.6px !important;
    }
    button.rg, a.rg, span.rg{
        font-size: 14px !important;
        line-height: 14px !important;
    }
    .footer{
        padding: 30px !important;
        flex-wrap: wrap;
        gap: 30px;
    }
    .footer .left .logog {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.72px;
    }
    .footer .right .quick-link-label {
     font-size: 18px;
     line-height: 28px;   
    }

    .update-from-deputy .container{
        padding: 30px 16px;
    }
    .update-from-deputy .container h2 {
        margin-bottom: 16px !important;
    }
    .update-from-deputy .container form {
        margin-top: 24px;
        flex-wrap: wrap;
        gap: 16px;
    }
    .update-from-deputy .container form input:first-child {
        flex-basis: 100%;
    }
    .update-from-deputy .container form input{
        padding: 12px 20px;
    }
    .update-from-deputy .container form .tel-input{
        flex-basis: calc(60% - 9.6px);
    }
    .update-from-deputy .container form input.zip-code{
        flex-basis: calc(40% - 6.4px);
        max-width: calc(40% - 6.4px);
    }
    .update-from-deputy .container form button{
        display: block;
        width: 100%;
        flex-basis: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .update-from-deputy .container p{
        font-size: 16px;
        line-height: 24px;
    }

    .footer .right .quick-link-list {
        gap: 24px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 525px){
    body.white-body{
        padding-left: 10px;
        padding-right: 10px;
    }
}